.card-white {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  padding: 40px;  
}